include mixins

section.builder
  .desc
    .title
      h3 Builder
    .desc-content
      p The Lick-Wilmerding wood shop gives me the power to create. This is so valuable to me because I have the ability to turn ideas into reality and design something that I can use. I've been working in the wood shop for 3 years and I intend on continuing for the rest of my life. The projects I've made have improved drastically since I first started, but I love to look back and remember that the skills I have are attributed to the mistakes I've made.
  .page-content
    .carousel-container
      .carousel
        +builder-project
        +builder-project
        +builder-project
        +builder-project
        +builder-project
        +builder-project
        +builder-project
    .button See All Projects
  .arrow-container
    i(class="material-icons") keyboard_arrow_up
