header.home
  .about-nav
    ul
      a(href="" class="button"): li About
      a(href="" class="button"): li Contact
  .landing-container
    .landing-title
      .landing-line-deco
      .site-name
        h1 Max&nbspAustin
      .landing-line-deco
    nav.landing-nav
      ul
        li.button Builder
          .see-more: p See&nbspMore
        li.button Coder
          .see-more: p See&nbspMore
        li.button Teacher
          .see-more: p See&nbspMore
